.content h3:before {
  content: none!important;
}

.header li {
    border-left: none;
  }

body, td, textarea, input {
      font-size: 1em;
    }
    h1,h2,h3,h4,h5,h6,h7,
    .content h1:first-child, 
    .content h1:first-child a, 
    .content h1:first-child a:visited{
      color: #6092e4;
    }
    .header{
      background-color:rgba(52, 80, 127, 1);
      text-shadow: none;
    }
    .header li a {
        color: #FFF;
    }
    .header li a:hover{
      color: #FFF;
      text-decoration:underline;
    }
    .menubar {
      font-size: 1em;
    }
    menu a.level-1 {
      font-size: 1em;
    }
    .menu a.level-3 {
      font-size: 0.85em;
      opacity:0.8
    }
    .menu a{
      margin-right: initial;
    }
    a,
    .menu a, .menu a:visited {
      color: #E91E63;
    }
    a:hover,
    .menu a:hover {
        color: #E91E63;
        text-decoration:underline;
    }
    .menu a.level-1, 
    .menu a.level-1:visited {
        color: rgba(52, 80, 127, 1);
    }

    .menu a.active:after {      
      right: 0;
      width: 9px;
      height: 3px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      background: #ea1962;
  }

    ul.level-3{
      margin-bottom:1em;
    }

    .content h4 {
      font-size: 1.1em;
    }
    .content h5 {
      font-size: 1em;
    }

    .content i, .content em {
        font-style: normal;
        color: inherit;
    }

    .content h4, 
    .content h5, 
    .content .small-heading, 
    body:not(.big-h3) .content h3 {
    color: #6092e4;
}
    img {
        max-width: 100%;
        zoom: 50%;
    }

    .no-retina {
      zoom: 100%;
    }

    .iconTitle {
      margin: 0 10px 0 0;
      content:"";
      background-image: url("https://uxdivers.com/images/svg/grial-regular-logo.svg");
      background-repeat:no-repeat;
      background-size: 24px 24px;
      width:24px;
      padding-left:30px
    }

    .highlight {
      color: green;
      border-top: 1px solid green;
      border-bottom: 1px solid green;
      /* font-size: 13px; */
      line-height: 26px;
      padding: 16px!important;
      background-color: rgba(0, 150, 0, 0.1);
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .highlight:before {
      margin: 0 3px 0 0;
      content: "TIP !";
      background-color: green;
      background-repeat: no-repeat;
      background-size: 24px 24px;
      padding: 0px 10px;
      color: white;
      display: inline-block;
      text-align: center;
      font-size: 10px;
      line-height: 20px;
      font-weight: bold;
      border-radius: 4px;
  }
    .new {
      color: #58509e;
      border-top: 1px solid #58509e;
      border-bottom: 1px solid #58509e;
      /* font-size: 13px; */
      line-height: 26px;
      padding: 16px!important;
      background-color: rgba(88, 80, 158, 0.1);
      margin-top: 20px;
      margin-bottom: 20px;
    }
      .new:before {
        margin: 0 3px 0 0;
        content: "NEW !";
        background-color: #58509e;
        background-repeat: no-repeat;
        background-size: 24px 24px;
        padding: 0px 10px;
        color: white;
        display: inline-block;
        text-align: center;
        font-size: 10px;
        line-height: 20px;
        font-weight: bold;
        border-radius: 4px;
    }
    .toDo {
      color: red;
      border-top: 1px solid red;
      border-bottom: 1px solid red;
      font-size: 13px;
      line-height: 26px;
      padding: 16px!important;
      background-color: rgba(255, 0, 0, 0.1);
      margin: 20px;
    }
      .toDo:before {
        margin: 0 3px 0 0;
        content: "@ToDo";
        background-color: red;
        background-repeat: no-repeat;
        background-size: 24px 24px;
        padding: 0px 10px;
        color: white;
        display: inline-block;
        text-align: center;
        font-size: 10px;
        line-height: 20px;
        font-weight: bold;
        border-radius: 4px;
    }
    .review {
      color: orangered;
      border-top: 1px solid orangered;
      border-bottom: 1px solid orangered;
      font-size: 13px;
      line-height: 26px;
      padding: 16px!important;
      background-color: rgba(255, 167, 0, 0.1);
      margin: 20px;
    }
      .review:before {
        margin: 0 3px 0 0;
        content: "@Review";
        background-color: orangered;
        background-repeat: no-repeat;
        background-size: 24px 24px;
        padding: 0px 10px;
        color: white;
        display: inline-block;
        text-align: center;
        font-size: 10px;
        line-height: 20px;
        font-weight: bold;
        border-radius: 4px;
    }

    .iphone7{
      position: relative;
      display: inline-block;
      margin: 10px;
    }
      .iphone7 .image{
        position: absolute;
        margin-left: 30px;
        margin-top: 108px;
        max-height: 670px;
      }
      .iphone7 .mask{
        position: relative;
      }

    .youtube{
      position: relative;
      display: inline-block;
      margin: 10px;
    }
      .youtube .playButton{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 112px;
        margin: -56px;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 8px;
      }

.image-with-border{
  border: 1px solid rgba(128, 128, 128, 0.3);
}

#btnBackToTop {
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #da235f;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    opacity: .7;
}

#mbtnBackToTopyBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

em {
  font-style: italic;
}
.no-zoom {zoom:initial}